<section class="card">
  <a href="/postnow/{{id}}">
    
    <div>{{subject}}</div>
    <div>Posted by {{poster}} on {{format_time updated_time}}</div>
    <img src="{{img_url}}"><br><br>
    {{detail}}
  </a>
</section>