

<div class="card">
  <a href="/post/{{id}}">
    <header class="post-subject">{{subject}}</header>
    <div class="card-body">
      <div class="post-by">Post by: {{poster}} on {{format_time updated_time}}</div>
      <div class="post-img"><img src="{{img_url}}"></div>
      <div class="post-detail">{{detail}}</div>
    </div>
  </a>
</div>
