<section class="card">
  <a href="/post/{{id}}">
    
  <div class="post-subject">{{subject}}</div>
  <div class="post-by">Post by: {{format_time updated_time}}</div>
  <div class="post-img"><img src="{{img_url}}"></div>
  <div class="post-detail">{{detail}}</div>
  </a>
</section>